# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config HWINFO_GD32
	bool "GD32 device ID and reset cause"
	default y
	depends on SOC_FAMILY_GD_GD32
	select HWINFO_HAS_DRIVER
	help
	  Enable GD32 hwinfo driver.
