# Copyright (c) 2021 BrainCo Inc.
# SPDX-License-Identifier: Apache-2.0

config SPI_GD32
	bool "Gigadevice GD32 SPI driver"
	default y
	depends on DT_HAS_GD_GD32_SPI_ENABLED
	select PINCTRL
	select GPIO if $(dt_compat_any_has_prop,$(DT_COMPAT_GD_GD32_SPI),cs-gpios)
	select SPI_GD32_INTERRUPT if SPI_ASYNC
	help
	  Enables Gigadevice GD32 SPI driver.

if SPI_GD32

config SPI_GD32_INTERRUPT
	bool "GD32 MCU SPI Interrupt Support"
	default y if SPI_ASYNC || SPI_RTIO
	help
	  Enable the interrupt driven mode for SPI instances

config SPI_GD32_DMA
	bool "GD32 MCU SPI DMA Support"
	select SPI_GD32_INTERRUPT
	select DMA
	select CACHE_MANAGEMENT if CPU_HAS_DCACHE
	help
	  Use the DMA for SPI transfer
	  that enable dma channels in their device tree node.

if SPI_RTIO

config SPI_GD32_RTIO_SQ_SIZE
	int "Number of available submission queue entries"
	default 8
	help
	  Number of RTIO submission queue entries reserved by each GD32 SPI
	  controller instance when native RTIO support is enabled.

config SPI_GD32_RTIO_CQ_SIZE
	int "Number of available completion queue entries"
	default 8
	help
	  Number of RTIO completion queue entries reserved by each GD32 SPI
	  controller instance when native RTIO support is enabled.

endif # SPI_RTIO

endif # SPI_GD32
