# Copyright (c) 2026 Ylhyra ehf.
# SPDX-License-Identifier: Apache-2.0

config SDHC_KINETIS
	bool "NXP Kinetis SDHC driver"
	default y
	depends on DT_HAS_NXP_KINETIS_SDHC_ENABLED
	select SDHC_SUPPORTS_NATIVE_MODE
	select PINCTRL
	help
	  Enable the NXP Kinetis SDHC host controller driver.

if SDHC_KINETIS

config SDHC_BUFFER_ALIGNMENT
	default DCACHE_LINE_SIZE if DCACHE
	default 4
	help
	  SDHC buffers should be cache-line aligned when they are placed in a
	  cacheable region.

endif # SDHC_KINETIS
